<div class="scrivito-content-box-widget <%= widget.background_color %> <%= widget.styles.join(' ') %>">
  <%= scrivito_tag :div, widget, :content, class: "scrivito-content-box-widget-content" %>
</div>
